#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Card {
  width: 400px;
  height: 200px;
  margin: 40px auto;
  padding: 20px;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 2px solid #ddd;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  text-align: center;

  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

body{
  background-image: url("https://i.pinimg.com/736x/ed/77/d3/ed77d383f5bbdc4e8eff2cc38eb6df01.jpg");
  background-position: center;
}

.title {
background-color: white;
color: black;
font-size: x-small;
padding: 15px 25px;
border-radius: 25px;
display: inline-block;
}

.subtext{
  font-size: smaller ;
}

.button {
  margin: 5px;
  background-color: white;
  color: black;
}

